---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Titel">
	<section id="hero" class="grid grid-cols-2 gap-6">
		<img src="public/img_of_book/kobenhavnerbilleder-sten-simons.jpg" alt="hero">
		<article class="grid content-center">
			<h1 class="text-pink-500">Københavnerbilleder - en guide til hipster foto af Sten Simons</h1>
			<Button>Køb nu</Button>
		</article>
	</section>
	<section class="grid grid-cols-2 gap-1">
		<div class="flex flex-col justify-center">
			<h2 class="text-2xl text-pink-500">Stamdata om bogen</h2>
			<ul class="list-none -mx-6 -mt-4">
				<div class="flex flex-wrap gap-2 ">
					<li class="font-bold">Title: </li>
					<li>Københavnerbilleder - en guide til hipster foto</li>
				</div>
				<div class="flex flex-wrap gap-2 -mt-3">
					<li class="font-bold">Forfatter:</li>
					<li>Sten Simons</li>
				</div>
				<div class="flex flex-wrap gap-2 -mt-3">
					<li class="font-bold">Antal sider:</li>
					<li>344</li>
				</div>
				<div class="flex flex-wrap gap-2 -mt-3">
					<li class="font-bold">Forlag:</li>
				<li>Mellem Linjerne</li>
				</div>
				<div class="flex flex-wrap gap-2 -mt-3">
					<li class="font-bold">ISBN:</li>
				<li>987-6-987654-32-1</li>
				</div>
				<div class="flex flex-wrap gap-2 -mt-3">
					<li class="font-bold">Pris:</li>
				<li>399.-</li>
				</div>
				
			</ul>
		</div>
		<div>
			<h2 class="text-2xl text-pink-500">Kort om bogen</h2>
			<p class="-mt-3">Københavnerbilleder er de danske streetfotografers bibel: Det er en fusion mellem et kunstværk og en lærebog. Bogen gennemgår alle væsentlige aspekter af streetfotografering fra grundlæggende teknik til kreative eksperimenter. Alt sammen krydret med masser af inspirerende fotos. God læselyst!</p>
		</div>
	</section>
	<section id="img_of_book" class="grid grid-cols-3 gap-2">
		<img src="public/img_of_book/kobenhavnerbilleder_aaben_venstre.jpg" alt="aaben">
		<img src="public/img_of_book/kobenhavnerbilleder_oppefra.jpg" alt="oppefra">
		<img src="public/img_of_book/kobenhavnerbilleder-sten-simons.jpg" alt="sten simons">
	</section>
	<section id="chapters">
		<h2 class="flex justify-center text-3xl mt-20 -mb-2 text-pink-500">Bogens kapitler</h2>
		<article class="grid grid-cols-2 gap-2">
			<div>
				<h3 class="text-pink-400">Kapitel 1 - Intro til street foto</h3>
				<p>Hvad er street foto? Det handler i bund og grund om at skyde byens liv og byens geometri (urban geometry). I dette kapitel får du en grundig intro til hvad street foto er og et overblik over nogen af de kendte street-fotografer. Alt krydret med en masse gode eksempler på street fotos.</p>
			</div>
			<div>
				<h3 class="text-pink-400">Kapitel 2 - Om at skyde street</h3>
				<p>Vil du skyde street? Så er der ikke nogen vej udenom: Du skal ud på gaderne og prøve det! I dette kapitel får du en teknisk indføring i hvordan du bedst skyder street. Uanset om du er begynder eller professionel, er der mange gode tekniske tips og tricks til street-skyderiet.</p>
			</div>
			<div>
				<h3 class="text-pink-400">Kapitel 3 - Om at finde det rette motiv</h3>
				<p>Indimellem er man heldig, andre gange kommer man hjem helt uden gode motiver. Med et par tips og tricks til at finde de rette motiver, stiger chancen gevaldigt for at fange de gode motiver.</p>
			</div>
			<div>
				<h3 class="text-pink-400">Kapitel 4 - Digital street foto</h3>
				<p>De fleste af os skyder oftest digitalt fordi det er billigere og nemmere. Og nogen teknikker og fremgangsmåder egner sig kun til digital street foto. I dette kapitel får du en række tips og tricks til digital street-foto. </p>
			</div>
			<div>
				<h3 class="text-pink-400">Kapitel 5 - Analog street foto</h3>
				<p>Analog er sejt fordi det er mere “ægte,” dyrere og mere besværligt end digital. Det signalerer entusiasme. Nogle teknikker og fremgangsmåder egner sig bedst til analog street foto. I dette kapitel får du en række tips og tricks til analog street-foto. </p>
			</div>
			<div>
				<h3 class="text-pink-400">Kapitel 6 - Om at skyde sort/hvid</h3>
				<p>Alle street-fotografer skyder sort/hvid nu og da. Nogen altid. Hvorfor? Hvad er der specielt ved sort/hvid fotografering, og hvad adskiller sort/hvid fra farvefotografering? Her får du en række tips og tricks til sort/hvid fotografering. </p>
			</div>
			<div>
				<h3 class="text-pink-400">Kapitel 7 - Kreative teknikker </h3>
				<p>Dobbelteksponeringer, ICM (intentional camera moves), smadrede objektiver, gamle filmruller og alle mulige andre, spændende kreative teknikker kan løfte dine fotografier fra at være kedelige dokumentationer af hverdagen til at blive vilde kunststykker. Så dyk ned i dette kapitel om eksperimenterende teknikker!</p>
			</div>
			<div>
				<h3 class="text-pink-400">Kapitel 8 - Kom helt tæt på!</h3>
				<p>Street foto handler om at fotografere livet på gaden - men tør du at gå helt tæt på fremmede mennesker og knipse løs? Du kan lige så godt øve dig, for det er det der vil gøre dig til en bedre street-fotograf…</p>
			</div>
		</article>
		<Button>Download et prøvekapitel</Button>
	</section>
	<section id="review">
		<h2 class="flex justify-center text-3xl mt-20 -mb-2 text-pink-500">Anmeldelser af bogen</h2>
		<article class="grid grid-cols-3 gap-2">
			<div>
				<h3 class="text-pink-400">5 af 6 stjerner</h3>
				<p>Københavnerbilleder er en grundig introduktion til at skyde billeder med retro-kant. Hvad enten du er har arbejdet med foto siden 135-filmen kom på markedet, du kun har skudt digitalt eller er helt nybegynder, er der masser af tips og tricks i bogen.</p>
				<p class="italic">- Hanne Hovgaard, Berlingeren</p>
			</div>
			<div>
				<h3 class="text-pink-400">4 af 5 stjerner</h3>
				<p>Teksten er underholdende, og billederne er sku’ flotte. Hvad mere skal man sige om en fotobog?</p>
				<p class="italic">- Kim Kloggaard, Fotojournalen.dk</p>
			</div>
			<div>
				<h3 class="text-pink-400">6 af 6 stjerner</h3>
				<p>Sten Simons kan det der - og han bliver bedre og bedre. Stens tredje fotobog er klart den bedste - her er han for alvor i sit rette element, meget bedre end “studiefotografering som begyndere.” Tillykke - godt arbejde.</p>
				<p class="italic">- Volmer Hansen, Lukkertiden.dk</p>
			</div>
		</article>
	</section>
	<section id="gallery" class="mt-20">
		<article class="columns-2 lg:columns-4 gap-2">
				<img src="public/img/_6090016.jpeg" alt="" class="-mt-0">
				<img src="public/img/_6090022.jpeg" alt="" class="-mt-6">
				<img src="public/img/0008.jpg" alt="" class="-mt-6">
				<img src="public/img/agfa-genanvendeligt-kamera-35mm-5.jpg" alt="" class="-mt-6">
				<img src="public/img/agfa-genanvendeligt-kamera-35mm-8.jpg" alt="" class="-mt-6">
				<img src="public/img/agfa-genanvendeligt-kamera-35mm-11.jpg" alt="" class="-mt-6">
				<img src="public/img/amarminoen-med-et-agfa-le-box-3.jpg" alt="" class="-mt-6">
				<img src="public/img/amarminoen-med-et-agfa-le-box-11.jpg" alt="" class="-mt-6">
				<img src="public/img/amarminoen-med-et-agfa-le-box-12.jpg" alt="" class="-mt-6">
				<img src="public/img/orestad-til-islands-brygge-pentax-auto-110-24.jpg" alt="" class="-mt-6">
				<img src="public/img/agfa-genanvendeligt-kamera-35mm-film-2-5.jpg" alt="" class="-mt-6">
				<img src="public/img/agfa-genanvendeligt-kamera-35mm-film-2-7.jpg" alt="" class="-mt-6">
				<img src="public/img/vinter-2021-med-lomo-smena-6.jpg" alt="" class="-mt-6">
				<img src="public/img/vinter-2021-med-lomo-smena-17.jpg" alt="" class="-mt-6">
				<img src="public/img/anamorfiske-landskaber-amager-faelled-4.jpg" alt="" class="-mt-6">
				<img src="public/img/foraar-med-et-agfa-le-box-2021-17.jpg" alt="" class="-mt-6">
				<img src="public/img/foraar-med-et-agfa-lebox-2-20.jpg" alt="" class="-mt-6">
				<img src="public/img/orestad-til-islands-brygge-pentax-auto-110.jpg" alt="" class="-mt-6">
				<img src="public/img/kbh-by-night-3.jpg" alt="" class="-mt-6">
				<img src="public/img/lomo-smena-15.jpg" alt="" class="-mt-6">
				<img src="public/img/lomo-smena-17.jpg" alt="" class="-mt-6">
				<img src="public/img/lomo-smena-20.jpg" alt="" class="-mt-6">
				<img src="public/img/nikkormat-ft2-orestad-c-6.jpg" alt="" class="-mt-6">
				<img src="public/img/nikkormat-ft2-remiseparken-2.jpg" alt="" class="-mt-6">
				<img src="public/img/nikkormat-ft2-remiseparken-7.jpg" alt="" class="-mt-6">
				<img src="public/img/tyk-taage-i-orestad.jpg" alt=""class="-mt-6">
				<img src="public/img/orestad-til-islands-brygge-pentax-auto-110-8.jpg" alt=""class="-mt-6">
				<img src="public/img/orestad-til-islands-brygge-pentax-auto-110-12.jpg" alt="" class="-mt-6">
				<img src="public/img/orestad-til-islands-brygge-pentax-auto-110-14.jpg" alt="" class="-mt-6">
				<img src="public/img/orestad-til-islands-brygge-pentax-auto-110-16.jpg" alt="" class="-mt-6">
				<img src="public/img/orestad-til-islands-brygge-pentax-auto-110-17.jpg" alt="" class="-mt-6">
				<img src="public/img/orestad-til-islands-brygge-pentax-auto-110-19.jpg" alt="" class="-mt-6">
				<img src="public/img/pinhole-objektiver-ved-eghjorten-3.jpg" alt="" class="-mt-6">
		</article>
	</section>
	<section id="about_the_author">
		<article class="grid grid-cols-2 gap-5 mt-10">
			<img src="public/img_of_book/sten_simons.jpg" alt="sten simons" class="w-11/12">
			<article>
				<h2 class="text-4xl text-pink-500 grid content-start">Om forfatteren</h2>
				<div class="grid content-center">
					<p>Sten Simons har en lang foto-karriere bag sig. Det hele startede i 00’erne, da han gik rundt i Pisserenden for at fotografere ungdommens forfald. Det ledte til en række udstillinger, og blev senere til hans først fotobog “Ungdomsdruk - pinlige billeder fra nattelivet.”</p>
					<p>Derefter tog karrieren fart: Han blev fotojournalist og dokumenterede en masse dagligdagsstof fra Amager på dagbladet “Amagerkaneren.” Sideløbende begyndte han at undervise i foto, og har skrevet et utal af bøger, herunder bestsellerne Scener fra S-toget, Brun mad - en visuel odysse, og lærebogen Fotografering for evnesvage.</p>
				</div>
			</article>
		</article>
	</section>
	<section id="buy" class="max-w-lg mx-auto ">
		<form class="mt-8 max-w-lg">
			<h2 class="text-4xl mt-20 -mb-2 text-pink-500">Køb bogen</h2>
			<div class="grid grid-cols-1 gap-2 mt-8">
				<label for="antal" class="text-pink-400">Antal:</label>
				<input type="number" id="antal" placeholder="1" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
			</div>
			<div class="mt-8">
				<span class="text-pink-400 mr-2">Levering:</span>
				<input type="radio" id="postnord" name="levering" >
				<label for="postnord" checked="checked" class="text-pink-400 mx-2">Postnord</label>
				<input type="radio" name="levering" id="afhent">
				<label for="afhent" class="text-pink-400 mx-2">Afhent selv</label>
			</div>
			<div class="grid grid-cols-1 gap-2 mt-8">
				<label for="navn" class="text-pink-400">Navn:</label>
				<input type="text" id="navn" placeholder="Navn" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
			</div>
			<div class="grid grid-cols-1 gap-2 mt-8">
				<label for="adresse" class="text-pink-400">Adresse:</label>
				<input type="text" id="adresse" placeholder="Adresse" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">  
			</div>
			<div class="grid grid-cols-1 gap-2 mt-8">
				<label for="mail" class="text-pink-400">E-mail:</label>
				<input type="email" id="mail" placeholder="E-mail" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
			</div>
			<div class="grid grid-cols-6 gap-2 mt-8">
				<label for="by" class="text-pink-400 col-span-6">Postnummer & by</label>
				<input type="text" name="postnummer" id="by" placeholder="Post nr." class="col-span-2 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
				<input type="text" name="bynavn" id="by" placeholder="By" class="col-span-4 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
			</div>
			<div class="grid grid-cols-1 gap-2 mt-8">
				<label for="tlf" class="text-pink-400">Telefon:</label>
				<input type="tel" id="tlf" placeholder="Telefon" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
			</div>
			<div class=" mt-8">
				<input type="checkbox" id="nyhedsbrev" >
				<label for="nyhedsbrev" class="text-pink-400">Ja tak til nyhedsbrev og tilbud</label>
			</div>
			<div class="flex justify-center">
				<Button type="submit">Til betaling</Button>
			
		</div>
		</form>
	</section>
</MainLayout>
