---
---
<ul class="flex flex-row justify-center gap-4 text-white bg-black mt-20 p-10 font-mono">
    <li class="px-10"><a href="#hero">Københavnerbilleder</a></li>
    <li class="px-10"><a href="#chapters">Bogens indhold</a></li>
    <li class="px-10"><a href="#about_the_author">Forfatteren</a></li>
    <li class="px-10"><a href="#buy">Køb nu</a></li>
</ul>